* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    color: hsl(220, 13%, 13%);
    background-color: white;
    padding: 20px;
}

/* navbar */

#navbar {
    border-bottom: 1px solid #eee;
    padding: 20px 0;
    margin-bottom: 40px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 40px;
}

.logo{
    font-size: 1.5rem;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-link {
    color: hsl(219, 9%, 45%);
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    color: hsl(220, 13%, 13%);
    border-bottom: 2px solid orange;
    padding-bottom: 4px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profile-img {
    border-radius: 50%;
    width: 40px;
}

/* main section */
.product-section {
    display: flex;
    gap: 80px;
    align-items: start;
    max-width: 1000px;
    margin: auto;
}

/* images */
.image-gallery {
    flex: 1;
}

#main-image {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.thumbnail-container {
    display: flex;
    gap: 20px;
}

.thumbnail {
    border-radius: 10px;
    width: 60px;
    cursor: pointer;
    opacity: 0.7;
    border: 2px solid transparent;
}

.thumbnail.active {
    border: 2px solid orange;
    opacity: 1;
}

/* product info */
.product-info {
    flex: 1;
}

